#imgform #img {
    color: white;
    padding: 2px 2px 2px 2px;
    background: rgb(102, 51, 153);
}

#imgform button {
    color: white;
    font-size: large;

    background: linear-gradient(11deg, rebeccapurple, rgba(245, 146, 230, 0.537));
    border: 0px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
}


.circle {
    background: rebeccapurple;
    margin: 5px 0 0 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.large {
    width: 20px;
    height: 20px;
}

h3 {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium';
    padding: 2px 3px 4px 3px;
    margin: 5px 0px 0px 0px;
    width: fit-content;
    background: rebeccapurple;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .3);
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 20px 20px 20px 20px;
}

#ques {
    position: absolute;
    text-align: center;
    top: 139px;
    left: 370px;
    background: red;
    min-height: 21px;
    max-height: 21px;
    min-width: 21px;
    max-width: 21px;
    border-radius: 50%;

}

#ans {
    color: red;
    display: none;
    position: absolute;
    text-align: justify;
    margin: 10px 0 0 0;
    padding: 4px 0px 4px 3px;
    background: rgba(227, 251, 242, 0.861);
    top: 167px;
    left: 370px;
    width: fit-content;
    border-radius: none;

}

#ques:hover+#ans {
    display: block;
}

#different {
    margin: 10px 0 0 0;
}

#different #text1 {
    min-width: 322px;
    padding: 2px 0 2px 0;
    margin: 5px 0 0 0;
    border: 1px solid rgba(102, 51, 153, 0.434);
}

#different #text2 {
    min-width: 318px;
    max-width: 599px;
    min-height: 120px;
    margin: 5px 0 0 0;
    border: 1px solid rgba(102, 51, 153, 0.434);
}

#different #solve {
    font-size: large;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans';
    padding: 2px 8px 2px 8px;
    margin: 0 0 8px 2px;
    background: linear-gradient(11deg, rgb(13, 141, 13), rgba(244, 243, 246, 0.628));
    border: 1px rgba(113, 235, 99, 0.674);
    border-radius: 10px;
}