{% extends "../base/base.html" %}
{% block title %}reset password initiate{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static '/registration/style.css' %}" />
<link rel="stylesheet" href="{% static '/registration/register.css' %}" />


{% if request.user.is_authenticated %}
<script>window.location.href = '{% url "users:profile" %}' </script>
{% endif %}

<form action="{% url 'password_reset' %}" method="post">
    <p class="direction">Initiate password reset</p>
    {% for field in form %}
    {% if field.errors %}
    <div classes="alert" role="alert">
        {{ field.label }}: {{ field.errors|striptags }}
    </div>
    {% endif %}
    {% endfor %}

    {% csrf_token %}
    <label class="login-label" id="password">{{ form.email.label }} </label>
    {{ form.email }}
    <button class="button" type="submit" value="Send Email "> Send email</button>
    <br />
    <div id="loging"><a href="{% url 'login' %}">Login</a><br />
        <a href="{% url 'users:register' %}">Register</a>
    </div>
</form>



{% endblock %}