{% extends "../base/base.html" %}
{% block title %}change password{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/registration/style.css' %}" />
<link rel="stylesheet" href="{% static '/registration/register.css' %}" />


{% if not request.user.is_authenticated %}
<script>window.location.href = '{% url "login" %}' </script>
{% endif %}

<form action="{% url 'password_change' %}" method="post">
    <p class="direction">Change your password here.</p>
    {% for field in form %}
    {% if field.errors %}
    <div classes="alert" role="alert">
        {{ field.label }}: {{ field.errors|striptags }}
    </div>
    {% endif %}
    {% endfor %}
    {% csrf_token %}

    <label class="login-label" id="password">{{ form.old_password.label }} </label>
    {{ form.old_password }}
    <label class="login-label" id="password">{{ form.new_password1.label }} </label>
    {{ form.new_password1 }}
    <label class="login-label" id="password"> {{ form.new_password2.label }} </label>
    {{ form.new_password2 }}
    <button class="button" type="submit">Proceed</button>
    <br />
    <a id="loging" href="{% url 'logout' %}">Logout</a>

</form>




{% endblock %}