<!-- type new paswd after reset mail -->

{% extends "../base/base.html" %}
{% block title %}reset password{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/registration/style.css' %}" />
<link rel="stylesheet" href="{% static '/registration/register.css' %}" />


{% if request.user.is_authenticated %}
<script>window.location.href = '{% url "users:profile" %}' </script>
{% endif %}

<form method="post">
    {% csrf_token %}
    <p>Reset password</p>
    {% for field in form %}
    {% if field.errors %}
    <div classes="alert" role="alert">
        {{ field.label }}: {{ field.errors|striptags }}
    </div>
    {% endif %}
    {% endfor %}

    <label class="login-label" id="password">{{ form.new_password1.label }} </label>
    {{ form.new_password1 }}
    <label class="login-label" id="password">{{ form.new_password2.label }} </label>
    {{ form.new_password2 }}

    <button class="button" type="submit" value="change "> Change !</button>
    <div id="loging"><a href="{% url 'login' %}">Login</a><br />
        <a href="{% url 'users:register' %}">Register</a>
    </div>
</form>



{% endblock %}