{% extends "../base/base.html" %}
{% block title %}detail{% endblock %}

{% block content %}
{% load static %}
<p>
    Built as my first web, python & django project, tried to include lot of coding not just CRUD,<br />
    tried to make it a bit different , didn't want make copy ecommerce or social media because<br />
    making such application production grade is continous challenge, ie. I could never build it enough !<br />
    one cheat build from internet tutorial would not able to enhance much of my thinking ability related<br />
    to web-developement.
    <br />
    I wrote algorithm for sudoku image recongnition, cleaning it and extracting 81 smaller blocks containing<br />
    81 digits but identifying actuall digit out of those 81 smaller blocks is being done by Tesseract-OCR, so<br />
    It may not be perfect.
    While uploading image to be identfied make sure it has got only the big square block containing the sudoku.<br />
    Could've worked more on frontend or styling the website with the help of Bootstrap or something but<br /> I
    styled it myself from scratch with CSS, which taught me how to get started with Boostrap ie because of manual<br />
    CSS styling now I can think of trying out Bootstrap.<br />
    That it from me, solve sudoku in free time , stay sharp atleast it will make you think that you are :)
</p>


{% endblock %}